* {
    box-sizing: border-box;
}

.html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    text-align: center;
}

#h3 {
    display: inline-block;
}

.container {
    font-family: arial;
    font-size: 22px;
    width: 100%;
    height: 100%;
    position: absolute;
}

.input-title {
    display: inline-block;
    min-width: 250px;
    text-align: right;
    margin: 10px 30px 10px 0;
}

input {
    position: relative;
    vertical-align: middle;
    font-size: 20px;
    width: 250px;
}

select {
    width: 250px;
    font-size: 20px;
}

.submit-button {
    width: auto;
    padding: 5px 55px;
}