* {
    box-sizing: border-box;
}

.html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    text-align: center;
}

#h3 {
    display: inline-block;
}

.container {
    font-family: arial;
    font-size: 22px;
    width: 100%;
    height: 100%;
    position: absolute;
}

.input-title {
    display: inline-block;
    min-width: 250px;
    text-align: right;
    margin: 10px 30px 10px 0;
}

input {
    position: relative;
    vertical-align: middle;
    font-size: 20px;
    width: 250px;
}

select {
    width: 250px;
    font-size: 20px;
}

.submit-button {
    width: auto;
    padding: 5px 55px;
}

.cancel-button {
    color: black;
    padding: 10px 20px;
    transition: .2s;
    text-decoration: none;
}

.cancel-button:hover {
    color: white;
    background-color: rgba(255, 144, 96, 0.642);
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    display: inline;
    table-layout: fixed;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.action-column {
    width: 50px;
}

td input {
    width: 100px;
    background-color: transparent;
    border: none;
}

td input:hover {
    background-color: slategrey;
    border: .3px solid black;
}